@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Quicksand:wght@300;400;600&display=swap');

@media screen and (min-width: 900px) {
    .detail, ul, .header {
        font-size: 2.4vh;
    }

    .tc {
        width: 50%;
        margin-left: 25%;
    }

    /* PICTURES  */
    .gallery {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }

    .gallery > div img {
        width: 100%;
        height: 100%;
        overflow:hidden;
        display:block
    }

    /* 0612 alpe di suisi */
    #suisi-1 {
        grid-column: 2 / 13;
        grid-row: 1 / 6;
    }

    #suisi-2 {
        grid-column: 13 / 24;
        grid-row: 3 / 9;
    }

    #suisi-3 {
        grid-column: 2 / 10;
        grid-row: 12 / 17;
    }

    #suisi-4 {
        grid-column: 11 / 17;
        grid-row: 20 / 22;
    }

    #suisi-5 {
        grid-column: 17 / 23;
        grid-row: 20 / 22;
    }

    /* 0613 receisa */
    #rec-0613-1 {
        grid-column: 5 / 21;
        grid-row: 1 / 13;
    }

    #rec-0613-2 {
        grid-column: 11 / 25;
        grid-row: 16 / 22;
    }

    #rec-0613-3 {
        grid-column: 4 / 11;
        grid-row: 18 / 26;
    }

    /* 0613 seceda */
    #sec-0613-1 {
        grid-column: 4 / 13;
        grid-row: 1 / 6;
    }

    #sec-0613-2 {
        grid-column: 13 / 22;
        grid-row: 1 / 6;
    }

    /* 0614 seceda */
    #sec-0614-1 {
        grid-column: 1 / 14;
        grid-row: 1 / 6;
    }

    #sec-0614-2 {
        grid-column: 14 / 23;
        grid-row: 8 / 14;
    }

    #sec-0614-3 {
        grid-column: 2 / 9;
        grid-row: 16 / 20;
    }

    #sec-0614-4 {
        grid-column: 9 / 16;
        grid-row: 16 / 20;
    }

    /* 0615 receisa */
    #rec-0615-1 {
        grid-column: 3 / 9;
        grid-row: 1 / 6;
    }

    #rec-0615-2 {
        grid-column: 12 / 24;
        grid-row: 4 / 10;
    }

    #rec-0615-3 {
        grid-column: 4 / 14;
        grid-row: 12 / 18;
    }

    /* 0616 seceda */
    #sec-0616-1 {
        grid-column: 2 / 11;
        grid-row: 1 / 6;
    }

    #sec-0616-2 {
        grid-column: 12 / 24;
        grid-row: 8 / 16;
    }

    #sec-0616-3 {
        grid-column: 4 / 11;
        grid-row: 14 / 17;
    }

    /* 0617 ciampioni */
    #sch-0617-1 {
        grid-column: 12 / 18;
        grid-row: 1 / 9;
    } 

    #sch-0617-2 {
        grid-column: 18 / 24;
        grid-row: 1 / 9;
    } 

    #sch-0617-3 {
        grid-column: 4 / 18;
        grid-row: 11 / 18;
    } 

    /* 0618 selva plan de gralba */
    #sel-0618-1 {
        grid-column: 4 / 22;
        grid-row: 1 / 9;
    } 

    #sel-0618-2 {
        grid-column: 2 / 8;
        grid-row: 11 / 17;
    } 

    #sel-0618-3 {
        grid-column: 8 / 14;
        grid-row: 11 / 17;
    } 

    #sel-0618-4 {
        grid-column: 12 / 24;
        grid-row: 19 / 21;
    } 

    /* 0619 s cristina monte pana */
    #sch-0619-1 {
        grid-column: 1 / 15;
        grid-row: 1 / 9;
    } 

    #sch-0619-2 {
        grid-column: 17 / 23;
        grid-row: 6 / 11;
    } 

    #sch-0619-3 {
        grid-column: 7 / 22;
        grid-row: 13 / 17;
    } 

    /* 0620 dantercepies */
    #dan-0620-1 {
        grid-column: 10 / 24;
        grid-row: 1 / 9;
    } 

    /* 0621 receisa */
    #rec-0621-1 {
        grid-column: 11 / 22;
        grid-row: 1 / 7;
    } 

    #rec-0621-2 {
        grid-column: 11 / 22;
        grid-row: 7 / 15;
    } 

    /* 0622 lajen */
    #laj-0622-1 {
        grid-column: 3 / 12;
        grid-row: 1 / 7;
    } 

    #laj-0622-2 {
        grid-column: 10 / 24;
        grid-row: 9 / 14;
    } 

    /* 0705 druridge */
    #dru-0705-1 {
        grid-column: 1 / 14;
        grid-row: 1 / 6;
    } 

    #dru-0705-2 {
        grid-column: 9 / 21;
        grid-row: 8 / 14;
    } 
}

@media screen and (max-width: 900px) {
    .detail, ul, .header  {
        font-size: 10pt;
    }

    .tc {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .gallery {
        width: 80%;
        padding-left:  10%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .gallery > div img {
        width: 100%;
        display:block;
        margin-bottom: 3%;
    }
}

body{
    margin: 0;
    cursor: url('html_images/circle.png'),auto;
}

.section, .section-day {
    width: 100%;
    max-height: 100vh;
    display: flex;
    margin-bottom: 10%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
    color: yellow;
    margin: 0 auto
}

#intro {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro > .overlay {
    margin-bottom: 20%;
    display: block;
}

.title {
    font-family: 'Carattere', cursive;
    font-weight: 400;
}

.title {
    font-size: 20vw;
}

.subtitle {
    font-size: 1.4vw;
}

ul {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.section-day {
    align-items: end;
    margin-top: 10%;
}

.section-day .overlay {
    text-align: center;
    width: 96%;
    padding-left: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.detail, .subtitle {
    font-family: 'Quicksand', sans-serif;
    color: yellow;
    font-weight: 600;
    text-transform: uppercase;
}

span {
    font-weight: 600;
    text-transform: uppercase;
}


/* TABLE OF CONTENTS */
.grid-tc {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    gap: 20px;
}

#dates-list {
    text-align: right;
    grid-column: 1;
    grid-row: 2
}

#places-list {
    grid-column: 2;
    grid-row: 2
}

#dates-header{
    text-align: right;
    grid-column: 1;
    grid-row: 1
}

#places-header{
    grid-column: 2;
    grid-row: 1
}

/* OUTRO */
.outro{
    margin-top: 10%;
    background-color: #ededed;
    padding: 5% 0 5% 0;
    text-align: center;
}

.outro-text {
    display: inline-block;
    text-align: left;
    font-size: 9pt;
    font-family: 'Quicksand', sans-serif;
    color: black;
}